<div class="your-class">
  <div>
    <div>your content1</div>
    <div>
      <p>Good Morning</p>
      <p>slider1</p>
    </div>
  </div>
  <div>
    <div>your content2</div>
    <div>
      <p>Good Afternoon</p>
    </div>
  </div>
  <div>
    <div>your content3</div>
    <div>
      <p>Good Evening</p>
    </div>
  </div>
</div>
