<%= link_to "郵便番号API利用", api_postal_code_search_search_path %>

<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |post| %>
  <div>
    <p><%= post.title %></p>
    <p><%= post.text %></p>
  </div>
<% end %>
